a:visited,
a:link {
  text-decoration: none;
  color: #404040;
}

html,
body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.hd {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.utilMenu {
  display: flex;
  /* background: pink; */
}

.utilMenu a {
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  align-self: center;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.container {
  padding: 0 16px;
  /* background: rgb(234, 234, 234); */
  height: calc(100vh - 139px);
}

.footer {
  padding: 0 16px;
}
